<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name ="dbconnection" connectionString="Data Source=LAPTOP-MVDPVGDK;Initial Catalog=LTW;Integrated Security=True"/>
	</connectionStrings>
</configuration>
